{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    

    <div class="full-container">
        <h1 class="class-of-2015-h1-mobile">In Memory of {{ person }}</h1>
        <div class="photo-row-top">
            {% for image in imgs.0 %}
                    <img src="{% static image %}" alt="">
            {% endfor %}
        </div>
    
            <div class="message-container-mobile">
                
                {% for message in memoriam_list %}
                    <div class="speech-bubble">
                        {{ message.0 }}
                             <br>
                        <span id="by-line">- {{ message.1 }}</span>
                    </div>
                {% endfor %}
            </div>
    
        <div class="photo-row">
            {% for image in imgs.1 %}
                    <img src="{% static image %}" alt="">
            {% endfor %}
        </div>
    </div>
{% block script %}
  <script src="{% static "popups.js" %}"></script>
    {% endblock %}
{% endblock %}

